@import 'vars';

$mainTextColor: $mainColor;
$linkColor: $mainColor;
$btnExploreBg: $btnBgDark;
$btnLearnColor: $btnBgLight;
$slidertextBlockBg: $sliderBg;
$sectionContactBg: $contactSection;
$sectionContactDecorCircle: $decorCircle;
$sectionContactDecorLine: $decorLine;
$contactFormHeadingBg: $formHeading;
$contactFormInputBorder: $inputBorder;
$inputBorderSelected: $mainColor;
$contactFormBtnBg: $contactBtnBg;
$contactFormEmailUnderline: $contactEmailUnderline;
$footerBgColor: $footerBg;
$postInfoColor: $postTimeColor;
$postBgColor: $postBg;
$expandBlogBtnBg: $btnDark;
$postPageBg: $bodyBg;
$hoverBtnColor: $hoverBtn;
