// fonts

$mainFontFam: 'HindSiliguri';

// colors

$mainColor: #4D4949;
$linkColor: #4D4949;
$btnBgDark: #4D4C49;
$btnBgLight: #4D4949;
$sliderBg: #494A4D;
$contactSection: #F8F8F8;
$decorCircle: #4D4949;
$decorLine: #DDDDDD;
$formHeading: #F8F8F8;
$inputBorder: #DCDCDC;
$contactBtnBg: #4D4949;
$contactEmailUnderline: #A6A4A4;
$footerBg: #F8F8F8;
$hoverBtn: #393737;

// colors blog page

$bodyBg: #F8F8F8;
$postTimeColor: #818181;
$postBg: #FCF6F6;
$btnDark: #4D4C49;